.circles {
  fill: none;
  stroke-width: 10px;
}
.circle__first {
  stroke: #eaeaea;
}
.circle__second {
  stroke-width: 20px;
  stroke-dasharray: .0010 282.6;
  transition: all 1s;

  stroke-dasharray: 410;
  stroke-dashoffset: 100;
}
