.skill {
    width: 157px;
    min-width: 157px;
    height: 157px;
    min-height: 157px;

    @include tablets {
        width: 135px;
        min-width: 135px;
        height: 135px;
        min-height: 135px;
    }    
}
