.skill {
    width: 150px;
    min-width: 150px;
    height: 150px;
    min-height: 150px;

    @include desktop {
        width: 150px;
        min-width: 150px;
        height: 150px;
        min-height: 150px;
    }
    @include tablets {
        width: 100px;
        min-width: 100px;
        height: 100px;
        min-height: 100px;
    }
    @include phones {
        width: 70px;
        min-width: 70px;
        height: 70px;
        min-height: 70px;
    }
}
