.triangles{
  width: 100%;
  margin-top: 582px;
  position: absolute;
  display: flex;
}
.triangle{
  height: 120px;
  width: 50%;
  &_last {
    height: 100px;
  }
}
.triangles__last {
  width: 100%;
  display: flex;
  position: absolute;
  top: -2px;
}