.triangles{
  width: 100%;
  margin-top: 582px;
  position: absolute;
  display: flex;

  &_last {
    margin-top: 0px;
    top: -2px;
  }
}
.triangle{
  height: 120px;
  width: 50%;
  &_last {
    height: 100px;
  }
}
