.wrapper-welcome {
  background-size: cover;
  background: url('../images/content/mountain-bg.jpg');
  
}
.wrapper-last {
  background: url('../images/content/Budda.jpg');
  background-size: cover;
  position: relative;
}