footer.footer
  .container.footer__container
    .footer__left
      .footer__copyright
        .copyright © 2019
      .footer__info
        .footer__autor
          .autor__name Tetiana
            br
            | Dotsenko
        .footer__text Web-developer
          br
          | personal website
    .footer__right
      .footer__nav
        +nav('nav-footer', ["Home", "About me", "Skills", "Experience", "Reviews", "Contact"], 0)
      .footer__blocks
        .footer__blocks-left
          .footer__text I made this site as part of my studies

            |  at the LoftSchool School of Online Education.
          .footer__socials
            +socials('socials_rounded socials', ["insta", "vk", "github"])
        .footer__blocks-right
          .footer__text Always write the code as if
            |  it would be accompanied by a violent psychopath who knows where you live.
          .footer__autor-quote Martin Golding