.title.title_mb100 Contact me
form.order-form(action="")
  .form__row
    label.form__block
      .form__block-title Your name
      input.form__input(type='text', name='name', placeholder='Ivan Ivanov', required='')
      .form__img
        +icon('user', 'form__icon')

    label.form__block
      .form__block-title Your email
      input.form__input(name='email', placeholder='userdotsenko@gmail.com', required='')
      .form__img
        +icon('envelope', 'form__icon')
  .form__row
    label.form__block
      .form__block-title Message to letter
      input.form__input(type='text', cols="10", wrap="hard", placeholder='I need a website.\n Would like to ask terms and price.')
      .form__img
        +icon('message', 'form__icon')
  input.form__button(id="send" type="submit" value='Send')