header.header
  .logo TD
  .header__menu
    +nav('nav', ["Home", "About me", "Skills", "Experience", "Reviews", "Contact"], 0)
  .header__socials
    +socials('socials', ["insta", "vk", "github"])
    
