include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src='https://cdn.jsdelivr.net/npm/vue@2.6.9/dist/vue.js')
    title Portfolio | main page
  body
    .wrapper
      .maincontent
      .wrapper-welcome
        section.fullscreen-section.hero
          .container.hero__container
            include ./header.pug
            .hero__content
              .user
                .user__desc Web developer
                  br
                  | personal site
                .user__name Tetiana
                  br
                  | Dotsenko
            .hero__scroll
              .scroll
                .scroll__text Scroll
                .scroll__pic
                 +icon('scroll', 'scroll__icon')
        section.about
          .container.container_about
            .about__left
              .about__photo
                +image('content/14.jpg', 'about__pic')
              .about__shortinfo
                .about__text 
                  .text Currently:
                  .text Age:
                  .text Date of Birth: 
                .about__text_b
                  .text Kyiv
                  .text 22
                  .text 18 Oct 1996
            .about__right
              .about__text.about__text_mb33 Hi, my name is
              .about__name Tetiana Dotsenko
              .about__text.about__text_mb105 I develop modern websites and applications. I like to do interesting and modern projects.
              .about__text.about__text_note I made this site as part of my studies at the LoftSchool School of Online Education. I will refresh my content in it a little later. In the meantime, see how everything is cool and beautiful!

          .triangles
            svg(fill="#ffffff", viewbox="0 0 900 120", class="triangle", preserveAspectRatio="none")
              polygon(points="0,0 0,120 900,120")
            svg(fill="#ffffff", viewbox="0 0 900 120", class="triangle", preserveAspectRatio="none")
              polygon(points="0,120 900,120 900,0")

      section.skills
        .container
          .skills__info
            .skills__bag
              +image('content/backpack.png', 'skills__bag-pic')
            .skills__desc
              .skills__title.title How can I be useful to you
              .skills__text I made this site as part of my studies at the LoftSchool School of Online Education. I will refresh my content in it a little later. In the meantime, see how everything is cool and beautiful!
              include ./skills.pug
              
      section.works-section
        .container
          .works__title.title.title_fz36 My projects
          .works__block
            include ./works.pug
            .works__desc
              +skill-name('works-skills', ['HTML','CSS','JavaScript'])
              .works__title.title School website
              .works__text This girl was not learning web development somewhere, but at LoftSchool! 2 months only the most difficult trials and sleepless nights!
              a.works__link(href="#")
                .works__link-icon
                  +icon('link', 'works__link')
                .works__link-text Go to website
      .wrapper-last
        .triangles.triangles_last
          svg(preserveAspectRatio="none" viewBox="0 0 900 100" class="triangle triangle_last")
            polygon(points="0,0 900,0 900,100" fill="#ffffff")
          svg(preserveAspectRatio="none" viewBox="0 0 900 100" class="triangle triangle_last")
            polygon(points="0,0 900,0 0,100" fill="#ffffff")
        .container
          section.last-review
            .reviews
              .title.title_mb100.title_fz36 What people tell
              include ./reviews.pug
              
          section.last-form
            include ./form.pug

      include ./footer.pug
  
      script('src=../main.js')
      

