ul.reviews__slider
  li.reviews__slider-item
    .reviews__quote
      .reviews__quote-icon
        +icon('quote', 'reviews__qicon')
      .reviews__text This girl was not learning web development somewhere, but at LoftSchool! 4.5 months only the most difficult trials and sleepless nights!
    .reviews__person
      .reviews__person-pic
        +image('content/dmitryi-kovalchuk.jpg', 'reviews__img')
      .reviews__person-info
        .reviews__person-name Kovalchuk Dmitry
        .reviews__person-job Founder of LoftSchool
  li.reviews__slider-item
    .reviews__quote
      .reviews__quote-icon
        +icon('quote', 'reviews__qicon')
      .reviews__text This girl was not learning web development somewhere, but at LoftSchool! 4.5 months only the most difficult trials and sleepless nights!
    .reviews__person
      .reviews__person-pic
        +image('content/vladimir-sabantsev.jpg', 'reviews__img')
      .reviews__person-info
        .reviews__person-name Kovalchuk Dmitry
        .reviews__person-job Founder of LoftSchool 
.reviews__buttons 
  button.reviews__button
    +icon('arrow-down', 'arrow arrow_left')
  button.reviews__button
    +icon('arrow-down', 'arrow arrow_right')