script(type="text/x-template")#skills-list
  .skills__block
    ul.skills__block-wrapper
      li.skills__item(v-for="skill in skills" :key="skill.type")
        skills-row(
          :skill="skill"
        )

script(type="text/x-template")#skills-row
  .skill-row
    .skills__type {{skill.type}}
    ul.skills__box
      li.skills__box-item(v-for="(skillPercent, skillName) in skill.skills")
        skill(
          :skillName="skillName"
          :skillPercent="skillPercent"
        )

script(type="text/x-template")#skill
  .skill
    svg.circles(viewBox='0 0 140 140')
      circle.circle__first(r='60', cx='50%', cy='50%', fill='none')
      circle.circle__second(r='60', cx='50%', cy='50%', transform='rotate(-180 70 70)', stroke="url(#gradient)", ref="color-circle")
      linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0%")
        stop(offset="0%" stop-color="#5500f2")
        stop(offset="100%" stop-color="#8900ef")
    .skills__name {{skillName}}
