include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
      .wrapper-welcome
        section.fullscreen-section.hero
          .container.hero__container
            header.header
              .logo TD
              .header__menu
                +nav('nav', ["Home", "About me", "Skills", "Experience", "Reviews", "Contact"], 0)
              .header__socials
                +socials('socials', ["insta", "vk", "github"])
            .hero__content
              .user
                .user__desc Personal site of web developer
                .user__name Tetiana
                  br
                  | Dotsenko
            .hero__scroll
              .scroll
                .scroll__text Scroll
                .scroll__pic
                 +icon('scroll', 'scroll__icon')
        section.about
          .container.container_about
            .about__left
              .about__photo
                +image('content/14.jpg', 'about__pic')
              .about__shortinfo
                .about__text 
                  p Currently:
                  p Age:
                  p Date of Birth: 
                .about__text_b
                  p Kyiv
                  p 22
                  p 18 Oct 1996
            .about__right
              .about__text.about__text_mb33 Hi, my name is
              .about__name Tetiana Dotsenko
              .about__text.about__text_mb45 I develop modern websites and applications. I like to do interesting and modern projects.
              .about__text.about__text_note I made this site as part of my studies at the LoftSchool School of Online Education. I will refresh my content in it a little later. In the meantime, see how everything is cool and beautiful!
            
          .triangles
            svg(fill="#ffffff", viewbox="0 0 900 120", class="triangle", preserveAspectRatio="none")
              polygon(points="0,0 0,120 900,120")
            svg(fill="#ffffff", viewbox="0 0 900 120", class="triangle", preserveAspectRatio="none")
              polygon(points="0,120 900,120 900,0")

      section.fullscreen-section.skills
        .container
          .skills__info
            .skills__bag
              +image('content/backpack.png', 'skills__bag-pic')
            .skills__desc            
              .skills__title.title How can I be useful to you               
              .skills__text I made this site as part of my studies at the LoftSchool School of Online Education. I will refresh my content in it a little later. In the meantime, see how everything is cool and beautiful!               
              .skills__block
                .skills__block-one
                  .skills__type Front-end
                  ul.skills__box
                    li.skills__box-item
                      .skills__name HTML5
                      svg(class="percentage", viewbox="0 0 150 150", preserveAspectRatio="none" ) 
                        circle(cx="50%", cy="50%", r="60", class="percentage__circle  percentage__circle_under")
                        circle(cx="50%", cy="50%", r="60", class="percentage__circle  percentage__circle_above", style="animation-delay: -40s")
                        lineargradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0%")
                          stop(offset="0%" stop-color="#5500f2")
                          stop(offset="100%" stop-color="#8900ef")

                    li.skills__box-item
                      .skills__name CSS3
                      svg(class="percentage", viewbox="0 0 150 150", preserveAspectRatio="none" ) 
                        circle(cx="50%", cy="50%", r="60", class="percentage__circle  percentage__circle_under")
                        circle(cx="50%", cy="50%", r="60", class="percentage__circle  percentage__circle_above", style="animation-delay: -40s")
                    
                    li.skills__box-item
                      .skills__name JavaScript
                      svg(class="percentage", viewbox="0 0 150 150", preserveAspectRatio="none" ) 
                        circle(cx="50%", cy="50%", r="60", class="percentage__circle  percentage__circle_under")
                        circle(cx="50%", cy="50%", r="60", class="percentage__circle  percentage__circle_above", style="animation-delay: -60s")
                    li.skills__box-item
                      .skills__name jQuery and Vue.js
                      svg(class="percentage", viewbox="0 0 150 150", preserveAspectRatio="none" ) 
                        circle(cx="50%", cy="50%", r="60", class="percentage__circle  percentage__circle_under")
                        circle(cx="50%", cy="50%", r="60", class="percentage__circle  percentage__circle_above", style="animation-delay: -40s")
                    
                .skills__block-two
                  .skills__type Workflow
                  ul.skills__box
                    li.skills__box-item
                      .skills__name GIT
                      svg(class="percentage", viewbox="0 0 150 150", preserveAspectRatio="none" ) 
                        circle(cx="50%", cy="50%", r="60", class="percentage__circle  percentage__circle_under")
                        circle(cx="50%", cy="50%", r="60", class="percentage__circle  percentage__circle_above", style="animation-delay: -10s")
                    li.skills__box-item
                      .skills__name Terminal
                      svg(class="percentage", viewbox="0 0 150 150", preserveAspectRatio="none" ) 
                        circle(cx="50%", cy="50%", r="60", class="percentage__circle  percentage__circle_under")
                        circle(cx="50%", cy="50%", r="60", class="percentage__circle  percentage__circle_above", style="animation-delay: -60s")
                    
                    li.skills__box-item
                      .skills__name Gulp
                      svg(class="percentage", viewbox="0 0 150 150", preserveAspectRatio="none" ) 
                        circle(cx="50%", cy="50%", r="60", class="percentage__circle  percentage__circle_under")
                        circle(cx="50%", cy="50%", r="60", class="percentage__circle  percentage__circle_above", style="animation-delay: -50s")
                    li.skills__box-item
                      .skills__name Webpack
                      svg(class="percentage", viewbox="0 0 150 150", preserveAspectRatio="none" ) 
                        circle(cx="50%", cy="50%", r="60", class="percentage__circle  percentage__circle_under") 
                        circle(cx="50%", cy="50%", r="60", class="percentage__circle  percentage__circle_above", style="animation-delay: -10s")
              //-     ul.user-skills
              //- - 
              //-   var skills = [
              //-     ['frontend', ['html', 'css', 'js']],
              //-     ['workflow', ['git', 'gulp', 'webpack']],
              //-   ]
              //- each item in skills
              //-   li.user-skills__item.skills-row
              //-     h3.skills-row__title #{item[0]}
              //-     ul.skills-row__list
              //-       each skill in item[1]
              //-         li.skills-row__item
              //-           .skill
              //-             svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
              //-               circle(
              //-                 r="80" cx="100" cy="100"
              //-               ).skill__circle.skill__circle--under
              //-               //- circle().skill__circle.skill__circle--above
              //-               linear-gradient()
              //-             .skill__title #{skill}
      section.fullscreen-section.works-section
        .container
          .works__title.title.title_fz36 My projects
          .works__block
            .works__pics
              .works__mainpic
                +image('content/4.jpg', 'works__img')
              +projects('works', ["content/1", "content/2", "content/3", "content/4"])
              .works__slider-buttons
                .works__button-up
                  +icon('arrow-down', 'arrow arrow_up')
                .works__button-down
                  +icon('arrow-down', 'arrow arrow_down')
              .works__number
                +image('content/4.png', 'works__img')
            .works__desc
              +skill-name('works-skills', ['HTML','CSS','JavaScript'])
              .works__title.title School website
              .works__text This girl was not learning web development somewhere, but at LoftSchool! 2 months only the most difficult trials and sleepless nights!
              a.works__link(href="#")
                .works__link-icon
                  +icon('link', 'works__link')
                .works__link-text Go to website
      .wrapper-last
        .triangles.triangles_last
          svg(preserveAspectRatio="none" viewBox="0 0 900 100" class="triangle triangle_last")
            polygon(points="0,0 900,0 900,100" fill="#ffffff")
          svg(preserveAspectRatio="none" viewBox="0 0 900 100" class="triangle triangle_last")
            polygon(points="0,0 900,0 0,100" fill="#ffffff")
        .container
          section.last-review
            .reviews
              .title.title_mb100.title_fz36 What people tell
              ul.reviews__slider
                li.reviews__slider-item
                  .reviews__quote
                    .reviews__quote-icon
                      +icon('quote', 'reviews__qicon')
                    .reviews__text This girl was not learning web development somewhere, but at LoftSchool! 4.5 months only the most difficult trials and sleepless nights!
                  .reviews__person
                    .reviews__person-pic
                      +image('content/dmitryi-kovalchuk.jpg', 'reviews__img')
                    .reviews__person-info
                      .reviews__person-name Kovalchuk Dmitry
                      .reviews__person-job Founder of LoftSchool 
                li.reviews__slider-item
                  .reviews__quote
                    .reviews__quote-icon
                      +icon('quote', 'reviews__qicon')
                    .reviews__text This girl was not learning web development somewhere, but at LoftSchool! 4.5 months only the most difficult trials and sleepless nights!
                  .reviews__person
                    .reviews__person-pic
                      +image('content/vladimir-sabantsev.jpg', 'reviews__img')
                    .reviews__person-info
                      .reviews__person-name Kovalchuk Dmitry
                      .reviews__person-job Founder of LoftSchool 
                .reviews__buttons 
                  .reviews__button
                    +icon('arrow-down', 'arrow arrow_left')
                  .reviews__button
                    +icon('arrow-down', 'arrow arrow_right')
          section.last-form
            .title.title_mb100 Contact me
            form.order-form(action="")
              .form__row
                label.form__block
                  .form__block-title Your name
                  input.form__input(type='text', name='name', placeholder='Ivan Ivanov', required='')
                  .form__img
                    +icon('user', 'form__icon')

                label.form__block
                  .form__block-title Your email
                  input.form__input(name='email', placeholder='userdotsenko@gmail.com', required='')
                  .form__img
                    +icon('envelope', 'form__icon')
              .form__row
                label.form__block
                  .form__block-title Message to letter
                  input.form__input(type='text', cols="10", wrap="hard", placeholder='I need a website.\n Would like to ask terms and price.')
                  .form__img
                    +icon('message', 'form__icon')
              input.form__button(id="send" type="submit" value='Send')
          
      footer.footer
        .container.footer__container
          .footer__left
            .footer__copyright
              .copyright © 2019 
            .footer__info
              .footer__autor 
                .autor__name Tetiana 
                  br
                  | Dotsenko
              .footer__text Web-developer
                br
                | personal website
          .footer__right
            .footer__nav
              +nav('nav-footer', ["Home", "About me", "Skills", "Experience", "Reviews", "Contact"], 0)
            .footer__blocks
              .footer__blocks-left
                .footer__text I made this site as part of my studies
                  
                  |  at the LoftSchool School of Online Education.
                .footer__socials
                  +socials('socials_rounded socials', ["insta", "vk", "github"])
              .footer__blocks-right
                .footer__text Always write the code as if 
                  |  it would be accompanied by a violent psychopath who knows where you live.
                .footer__autor-quote Martin Golding

        